# List of files that git will ignore

# macOS system files throughout the project
**/.DS_Store

# Ignore build artifacts throughout the project
**/build/

# Ignore executables
Numerical_cost_of_root_finder_algorithms/NumericalCost
